dist
node_modules
coverage
*.cpuprofile

# OS
.DS_Store

# IDE
.vscode
.idea

# Build artifacts
/tmp
/out-tsc
.svelte-kit
build

# Package managers
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

# Claude Code
.claude/worktrees